<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton-css.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <title>No Tip No Trip</title>
</head>

<body>
  <div class="navbar">
    <div class="deliver-logo">
      <!--<img src="{{ url_for('static', filename='images/delivery.png') }}">-->
    </div>
    <div class="dropdown">
      <button class="dropdown-button" onclick='dropdownMenu()'>
          Button
      </button>
      <div class="dropdown-content" id="dropdown-content">
        <a href="#">Calculator</a>
        <a href="#">Fun Stuff</a>
        <a href="#">About</a>
      </div>
    </div>
  </div>
</body>
</html>


