<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton-css.css') }}">
  <script src="{{ url_for('static', filename='js/skeleton-script.js') }}"></script>
  <title>No Tip No Trip</title>
</head>

<body>
  <div class="navbar">
    <div class="deliver-logo">
      <!--<img src="{{ url_for('static', filename='images/delivery.png') }}">-->
    </div>
    <div class="dropdown">
      <button class="dropdown-button" onclick='dropdownMenu()'>
          Button <!-- need button icon here -->
      </button>
      <div class="dropdown-content" id="dropdown-content">
        <a href= {{url_for('tripCalculator')}}>Calculator</a>  
        <a href="#">Let's talk about tipping</a>
        <a href="#">Graphs are cool</a>
        <a href="#">About</a>
      </div>
    </div>
  </div>

  <h1>
    No Tip No Trip
  </h1>

</body>
</html>


