{% extends "base.html" %}
{% block title %}NTNT - Calculator{% endblock %}
{% block content %}

<h1 align="center">Stuff</h1>
<ul id="data">
  {% for item in data %}
  <li>{{ item }}</li>
  {% endfor %}
</ul>

<div class="calculator-header">
<p>
  Is your trip worth it? Try out this calculator to see
</p>
</div>
<!-- Inputs -->
<div class="calculator-inputs">
  <form action="http://localhost:5000/calculator" method="POST">
    <p> First part is determining the cost of ownership of your car. </p>
    <p> This is determined by 5 different things: gas, maintenance, insurance, depreciation, and registration</p>
    <p> According to AAA - the average cost of ownership for driving 15,000 miles is $10,728 in 2022. </p>
    <div class="calculator-inputs"> Price of the order
      <input type="number" name="orderPrice" required="required" value="10" >
    </div>
    <div class="calculator-inputs"> how many miles is your trip?
      <input type="number" name="miles" required="required" value="10" />
    </div>
    <div class="calculator-inputs"> is there a return trip?
      <input type="checkbox" name="return" checked="checked"/>
    </div>
    <div class="calculator-inputs"> cost of ownership of your car?
      <input type="number" name="costOfOwnership" required="required" value="10728">
    </div>
    <div class="calculator-inputs"> gas price
      <input type="number" name="gasPrice" required="required" value="3.40">
    </div>
    <div class="submit-button">
      <input type="submit" value="submit">
    </div>
  </form>
</div>
{% endblock %}